body{
	font:'Ubuntu', sans-serif;
}
nav{
	margin:-20px;
}
#top{
	background-color: #272c36;
	width: 100%;
	color: white;
	padding-bottom: 5px;
	
}
#top ul{
	/*padding-bottom: 5px;*/
	list-style-type: none;
}
li img{
	margin-bottom: -5px;
}
ul li{
	display: inline;
}
#top ul li:nth-child(even){
	margin-left: 10%;
}
#menu{
	background-color: #fff;
	width: 100%

}
#menu1 a:hover{
	color: #c4161c;
}
a{
	text-decoration: none;
	color: black;
}
#menu1{
	width: 30%;
	float: left;
}
#menu2{
	width: 20%;
	float: left;
	margin-left: 5%;
}
#menu3{
	width: 40%;
	float: right;
}
#menu{
	border-top: 4px solid #c4161c !important;
}
#menu li{
	margin-right:20px;
}
.clear{
	clear: left;
}
section{

}
section #cover img{
	width: 100%;
	border-top: 6px solid #c4161c !important;
	margin-left: -20px;
	margin-right: -0px;
}